*
!*/

# whitelist this file
!.gitignore

# whitelist everything in ./nvim/
!nvim/**

# whitelist everything in ./tmux/
!tmux/tmux.conf


# whitelist everything in ./alacritty/
!alacritty/**

# whitelist everything in ./kitty/
!kitty/*
